<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-4">
        <a href="https://github.com/tomdepplito">
          <img src="/assets/github.png">
        </a>
        <a href="https://www.linkedin.com/in/tomdepplito">
          <img src="/assets/linkedin.png"/>
        </a>
        <a href="https://twitter.com/tomdepplito">
          <img src="/assets/twitter_bird.png">
        </a>
        <a href="http://stackoverflow.com/users/1526117/tomdepplito">
          <img src="/assets/stackoverflow.png">
        </a>
      </div>
    </div>
  </div>

</footer>
